*.a
*.pch
*/Examples/*
/iOS/RestKit/Examples/RKCatalog/Examples/
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/app/
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/config/
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/db/
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/doc/
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/lib/
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/public/images/
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/public/javascripts/
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/script/
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/test/
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/vendor/
/iOS/RestKit/Examples/RKDiscussionBoardExample/DiscussionBoard/
/iOS/RestKit/Examples/RKTwitter/
/iOS/RestKit/Examples/RKTwitterCoreData/Classes/
/iOS/RestKit/Examples/RKTwitterCoreData/Resources/
/iOS/RestKit/Examples/RKCatalog/App/RKCatalog.h
/iOS/RestKit/Examples/RKCatalog/App/RKCatalogAppDelegate.h
/iOS/RestKit/Examples/RKCatalog/App/RootViewController.h
/iOS/RestKit/Examples/RKMacOSX/RKMacOSX/RKMacOSXAppDelegate.h
/iOS/RestKit/Examples/RKCatalog/App/en.lproj/MainWindow.xib
/iOS/RestKit/Examples/RKCatalog/App/en.lproj/RootViewController.xib
/iOS/RestKit/Examples/RKMacOSX/RKMacOSX/en.lproj/MainMenu.xib
/iOS/RestKit/Examples/RKCatalog/App/main.m
/iOS/RestKit/Examples/RKCatalog/App/RKCatalogAppDelegate.m
/iOS/RestKit/Examples/RKCatalog/App/RootViewController.m
/iOS/RestKit/Examples/RKMacOSX/RKMacOSX/main.m
/iOS/RestKit/Examples/RKMacOSX/RKMacOSX/RKMacOSXAppDelegate.m
/iOS/RestKit/Examples/RKTwitterCoreData/main.m
/iOS/RestKit/Examples/RKCatalog/App/RKCatalog-Info.plist
/iOS/RestKit/Examples/RKMacOSX/RKMacOSX/RKMacOSX-Info.plist
/iOS/RestKit/Examples/RKMacOSX/RKMacOSX/en.lproj/Credits.rtf
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/.gitignore
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/config.ru
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/Gemfile
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/Gemfile.lock
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/public/stylesheets/.gitkeep
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/Rakefile
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/README
/iOS/RestKit/Examples/RKDiscussionBoardExample/README.md
/iOS/RestKit/Examples/RKTwitterCoreData/RKSeedDatabase.sqlite
/iOS/RestKit/Examples/RKDiscussionBoardExample/discussion_board_backend/public/favicon.ico
/iOS/RestKit/Examples/RKCatalog/RKCatalog.xcodeproj/
/iOS/RestKit/Examples/RKMacOSX/RKMacOSX.xcodeproj/
/iOS/RestKit/Examples/RKTwitterCoreData/RKTwitterCoreData.xcodeproj/
/iOS/RestKit/Specs/Server/lib/restkit.rb
/iOS/RestKit/Specs/Server/lib/restkit/network/authentication.rb
/iOS/RestKit/Specs/Server/server.rb